<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_scorpshop_domain_model_shop.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="adress">
	<f:translate key="tx_scorpshop_domain_model_shop.adress" />
</label><br />
	<f:form.textfield property="adress" /><br />
<label for="phone">
	<f:translate key="tx_scorpshop_domain_model_shop.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="url">
	<f:translate key="tx_scorpshop_domain_model_shop.url" />
</label><br />
	<f:form.textfield property="url" /><br />
<label for="lat">
	<f:translate key="tx_scorpshop_domain_model_shop.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lng">
	<f:translate key="tx_scorpshop_domain_model_shop.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
</html>