<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-scorpshop" >
	<tr>
		<td>
			<f:translate key="tx_scorpshop_domain_model_shop.name" />
		</td>
		<td>
		{shop.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_scorpshop_domain_model_shop.adress" />
		</td>
		<td>
		{shop.adress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_scorpshop_domain_model_shop.phone" />
		</td>
		<td>
		{shop.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_scorpshop_domain_model_shop.url" />
		</td>
		<td>
		{shop.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_scorpshop_domain_model_shop.lat" />
		</td>
		<td>
		{shop.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_scorpshop_domain_model_shop.lng" />
		</td>
		<td>
		{shop.lng}
		</td>
	</tr>
</table>
</html>